#main {
    padding-top: 60px;
    height: 94vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.workingsection {
    width: 60%;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 30px;
}

.slider {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 80%;
    
}

i { 
    margin-top: 10%;
    font-size: 50PX;
}

i:hover {
    filter: invert();
} 

.question {
    font-size: 4rem;
}

button {
    margin: 10px;
    background: none;
    color: white;
    padding: 10px 35px;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 25px;
}

button:hover {
    background: white;
    color: rgb(0, 0, 0);
}

.nextdiv {
   text-align: center;
   padding: 100px;
}